.navbar 
  padding-top: 19px 
  padding-bottom: 21px 
  background-color: $text-color-dark
  background-repeat: no-repeat 
  background-size: cover 
  &-top 
    display: flex 
    align-items: center 
    justify-content: space-between 
    &__info 
      margin-right: auto 
      margin-left: 16px 
    &__call 
      
    
.logo 
  width: 95px 
  height: 45px

.info 
  display: flex 
  flex-direction: column 
  color: $text-color-light 
  &-text 
    font-weight: 500 
    font-size: 20px 

.call 
  display: flex 
  flex-direction: column 
  color: $text-color-light 
  &-number 
    margin-bottom: 9px 
    font-weight: 700 
    font-size: 25px 
  &-link 
    align-self: flex-end 
    font-weight: 500 
    font-size: 20px 
    text-decoration: none 
    color: $button-color 



  
